/* Toolbar */

.block-editor-block-toolbar .emoji-toolbar {
	position: relative;
}

.block-editor-block-toolbar .emoji-toolbar::before {
	content: '';
	display: block;
	min-width: 22px;
	min-height: 22px;
	width: 60%;
	height: 60%;
	border-radius: 50%;
	background-color: #ffd54f;
	position: absolute;
	top: 20% !important;
	left: 20% !important;
}
